:root {
    --body-font: Arial;
    --heading-font: Verdana;
    --primary-color: #275;
    --accent1-color: #444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--primary-color);
}

header {
    font-size: 15px;
    background-color: #eee;
    display: grid;
    grid-template-columns: 35% auto;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
}

#logo {
    width: 7rem;
    height: auto;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    list-style: none;

}

header nav a {
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .5rem;
    width: 7rem;
    text-align: center;
    border: 1px solid var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    text-align: center;
}

.socialmedia a {
    text-decoration: none;
    padding: 0.5em;
}

.socialmedia img {
    width: 2em;
    height: auto;
}

.hero {
    position: relative;
    margin: 1rem 0;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 3rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: #fff;
    background-color: var(--accent1-color);
    opacity: 90%;
}

.hero article {
    position: absolute;
    bottom: 20px;
    padding: 1rem 2rem;
    margin: 2rem;
    background-color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 8px;
}

section {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.address {
    text-align: center;
    margin: 1rem;
    grid-column: 1 / span2;
}

.map {
    width: 100%;
    height: 300px;
}

.contact form {
    padding: 1rem;
    width: 90%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

fieldset {
    border: none;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 0.75rem;
    align-items: center;
}

.personal label,
fieldset p {
    grid-column: 1 / 2;
}

.personal input,
.radio .radio-option {
    grid-column: 2 / 3;
}

.personal input {
    margin: .125rem;
    height: 1.5rem;
}

.radio-option {
    margin: .5rem 0;
    display: flex;
    gap: 0.5rem;
}

textarea,
button {
    grid-column: 1 / span2;
    width: 100%;
}

input[type=checkbox],
input[type=radio] {
    height: 16px;
    width: 16px;
}

.subscribe {
    display: flex;
    margin: 0.5rem 0;
}

textarea {
    height: 4rem;
}

button {
    grid-column: 1 / span2;
    height: 1.5rem;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
}

figure {
    margin: 0.5rem;
}

figure img {
    width: 100px;
}

figcaption {
    width: 100px;
    text-align: center;
    margin: 0;
}

.split-columns {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    margin: 1rem auto;
}

.split-columns img {
    width: 100%;
    height: auto;
}

.split-columns p {
    margin: 0 1rem;
}

footer {
    color: #fff;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    align-items: center;
    padding: 1rem;
}

footer p {
    grid-column-start: 2;
    text-align: center;
}

.socialmedia {
    align-content: right;
}