:root {
    --heavy-grey: #555F55;
}

main {
    max-width: 800px;
}

nav {
    background-color: var(--heavy-grey);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heavy-grey);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 100%;
    margin: 1em;
    border: 1px solid #888;
    padding: 2em;
    background-color: var(--heavy-grey);
    color: #eee;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2em;
    border-top: 2px solid var(--heavy-grey);
    text-align: center;
}